#body {
    margin: 0;
    background-color: #1E1E1E;
    color: white;
}

.titulo{
    font-size: 64px;
    text-align: center;
    font-style: initial;
}

.banner{
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

/* boton */

#boton_1{
    text-align: center;
}
.boton{
    text-align: center;
    color: white;
    border-radius: 25px;
    background-color: #9006d0;
    padding: 12px 60px; /* Aumenta el tamaño interno */
    font-size: 40px;     /* Tamaño del texto */
}

.github{
    border: 1000px;
}