#body {
    margin: 0;
    background-color: #1E1E1E;
    color: white;
}

.titulo{
    font-size: 64px;
    text-align: center;
    /* font-style: initial; */
    font-family: "Roboto Mono", monospace;
}

.banner{
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}
.banner2{
    position: static;
    text-align: center;
    font-size: 50px;
    padding: 80px;
    background-color: #9006d0;
}

/* boton */

#boton_1{
    text-align: center;
    margin: 50px;

}
.boton{
    text-align: center;
    color: white;
    border-radius: 25px;
    background-color: #9006d0;
    padding: 10px 35px; /* Aumenta el tamaño interno */
    font-size: 20px;     /* Tamaño del texto */
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    font-weight: 250;

}

.iconos_sociales{
    text-align: center;
    margin: 30px;
}

.icono{
    margin: 0 10px;
}

.boton_regresar{
    margin: 0 50px;   
}

.texto{
    text-align: center;
    font-size: 30px;
}

.titulo_temario{
    font-size: 50px;
    margin: 0 50px;
    /* text-align: center; */
    /* font-style: initial; */
    font-family: "Roboto Mono", monospace;
}

.suptitulos{
    font-size: 25px;
    margin: 0 70px;
    /* text-align: center; */
    /* font-style: initial; */
    font-family: "Roboto Mono", monospace;
}

.boton_temario{
    color: white;
    border-radius: 25px;
    background-color: #9006d0;
    padding: 12px 60px;
    font-family: "Roboto Mono", monospace;
    font-weight: 100;
    margin: 0 46px;
    display: inline-block;
    font-size: 20px;
}

.comenzar{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;   
}

.lista_inico{
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    margin: 35px;
}

.lista{
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    margin: 10px 80px;
}
.punto{
    font-family: "Roboto Mono", monospace;
    font-size: 30px;
    margin: 10px 80px;

}

.container{
    display: flex;
    justify-content: space-between; /* distribuye los botones a los extremos */
    padding: 20px;
}

.imagen{
    text-align: center;
}

.imagen_formato{
    border-radius: 25px;
    width: 900px;
    height: auto;
}

.boton_descargar{
    color: white;
    text-decoration: none;
    border-radius: 25px;
    background-color: #9006d0;
    padding: 12px 60px;
    font-family: "Roboto Mono", monospace;
    font-weight: 100;
    margin: 0 46px;
    font-size: 20px;

}
.position{
    text-align: center;
}

.titulo_al_tamaño{
    font-size: 30px;
}