#body {
    margin: 0;
    background-color: black;
    color: white;
}

.titulo{
    text-align: center;
}
.segundo{
    color: grey;
}

.banner{
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}

/* boton */

#boton_1{
    text-align: center;
}
.boton{
    
    text-align: center;
    color: black;
    border-radius: 25px;
    background-color: white;

    padding: 12px 24px; /* Aumenta el tamaño interno */
    font-size: 25px;     /* Tamaño del texto */
}